.pagination.my-5.justify-content-center
	.page-item
		a.page-link(href=``)
			i.fa.fa-angle-double-left
	.page-item
		a.page-link(href=``)
			i.fa.fa-angle-left
	.page-item.active
		a.page-link(href=``) 1
	.page-item
		a.page-link(href=``)
			i.fa.fa-angle-right
	.page-item.disabled
		a.page-link(href=``)
			i.fa.fa-angle-double-right