doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= title
		include ../inc/style.pug
		link(rel="stylesheet" href=`/css/${css}.css`)
		include ../inc/script.pug
	body
		include ../inc/header.pug
		block content
		include ../inc/footer.pug
		script(src=`/js/${js}.js`)
